.App {
  text-align: left;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(5px + 2vmin);
  color: rgb(11, 73, 25);
  padding-top: 30px;
}

body {
  background-image: url("https://i.postimg.cc/y8MVGhcM/inHand.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: calc(100px + 130vmin);
  background-position: 80ex;
  padding-left: 100px;
}

h1 {
  padding-bottom: 50px;
}

button {
  width: 210px;
  height: 60px;
  font-size: calc(10px + 1vmin);
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 20px;
  color: #fff;
  background-color: rgb(11, 73, 25);
  font-weight: bold;
  border-radius: 15px;
  border-color: rgb(10, 104, 10);
}

button:hover {
  color: rgb(185, 236, 143);
  background-color: rgba(18, 104, 51, 0.788);
}

.button-div {
  display: flex;
}

.list-wrapper {
  min-height: 850px;
}

.social-media {
  padding-bottom: 50px;
  font-size: calc(10px + 1vmin);
  color: grey;
}

/* checkboxes */
input {
  width: 25px;
  height: 25px;
}

.instapic {
  margin-left: 10px;
}
